@charset "UTF-8";
/* CSS Document */
/*-------------------------------------------------------------------
COPY AND PASTE ALL OF THESE STYLE DEFINITIONS INTO THE TOP OF YOUR SITE CSS FILE.

DO NOT PUT ANY OF YOUR SITE STYLES IN THIS SECTION OF YOUR CODE. 

DO NOT CHANGE ANY OF THESE STYLE DEFINITIONS OR YOUR SITE WILL NOT BEHAVE AS YOU EXPECT IT TO.
-------------------------------------------------------------------  */
/* sets the box-sizing model to border-box*/
* {
  box-sizing: border-box;
}
/* This sets all of the html tags to 0 margin and padding. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
}
/* sets padding, margin and list-style to 0 and none for all lists inside nav elements */
nav ul, nav ul li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%; /* images won't get bigger than their original size but will shrink as needed with the window*/
}
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 20px;
}
/* -------------------------------------------------------------------
For quick reference, put a list of your site colors and their hex numbers here.

For quick reference, put a list of your site font-family definitions here.
font-family: 'Raleway', sans-serif; (headings)
font-family: 'Open Sans', sans-serif; (paragraphs)

light blue: #D3EFE5 (header)
dark blue: #8AC8B1 (nav)
medium blue: #B4DFCE (main)
*/
/* START YOUR SITE STYLES AFTER THE DASHED LINE BELOW.   
------------------------------------------------------------------- */
.container {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-areas:
    'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
	
}
body {
    background-color: #B4DFCE;
}
header {
    background-color: #D3EFE5;
    grid-area: header;
    display: grid;
    grid-template-columns: inherit;
}
header a {
    grid-column: 2 / 3;
}
#logo {
    height: auto;
    width: auto;
    max-width: 20em;
    max-height: 20em;
}
/*------------------------------ navigation ----------------------------------- */
nav {
    background-color: #8AC8B1;
    grid-area: nav;
    display: grid;
    grid-template-columns: inherit;
}
nav ul {
	grid-column: 2/3;
	font-family: 'Raleway', sans-serif;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav li a {
    text-decoration: none;
    padding: 20px 20px;
    display: block;
}
nav a:visited{
	color: black;
}
nav a:hover, nav a:active {
    color: white;
}
/*------------------------------ main :D ----------------------------------- */
main {
    grid-area: main;
    display: grid;
	grid-template-columns: inherit;
    background-color: #B4DFCE;
}
main > div{
	grid-column: 2 / 3;
	margin: 30px 0 30px 0;
}
/*------------------------------ footer :D ----------------------------------- */
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: inherit;
    background-color: #8AC8B1;
	padding: 30px;
}
footer div{
	grid-column: 2 / 3;
}
footer p {
    grid-column: 1 / 4;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.logos {
    max-width: 3em;
    max-height: 3em;
}
/*------------------------------ headings, paragraphs, written works :-) ----------------------------------- */
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
	line-height: 1.5;
	font-weight: bold;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
	line-height: 1.5;
	font-weight: bold;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
	line-height: 1.5;
	font-weight: bold;
}
/*---------------------------------------- home page :-)----------------------------------------- */
.home_1 {
  	display: grid;
  	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 30px;
}
.home_article{
	grid-column: 3 / 4;
	grid-row: 1 / -1;
	background-color: #D3EFE5;
	padding: 15px;
}
/*---------------------------------------- about me page :-) ------------------------------------------------------ */
.about_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about_section {
	background-color: #D3EFE5;
	line-height: 20px;
	padding: 30px;
}
/*---------------------------------------- multimedia page :-) ------------------------------------------------------ */
.mm_p{
	margin-bottom: 20px;
}
.mm_gal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 20px;
}
.mm_container{
	background-color: #D3EFE5;
	padding: 20px;
}
.mm_container h3{
	font-weight: bold;
}
/*---------------------------------------- process page :-) ------------------------------------------------------ */
.processintro{
	margin-bottom: 30px;
}
.process_1 {
	display: grid;
	grid-template-columns: inherit;
}
.process_2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	margin-top: 30px;
	grid-row-gap: 30px;
	padding: 30px;
}
.step{
	background-color: #D3EFE5;
	padding: 30px;
}
li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
	line-height: 1;
}
.step_img img{
	display: block;
}
/*----------instagram page :-)------------------------- */
.inst_1 {
	display: grid;
	grid-template-columns: inherit;
}
.inst_box{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
}
.inst_table {
	padding: 40px;
	background-color: #D3EFE5;
}
.inst_table h3{
	margin-bottom: 20px;
}
.comtable{
	background-color: #ffffff;
}
th{
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	background-color: #8AC8B1;
    text-align: center;
}
td{
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}
table, th, td {
    border: 1px solid #000000;
}
/*---------------------------------------- contact page :-) ------------------------------------------------------ */
.contact_1 {
    display: grid;
	grid-template-columns: inherit;
}
.contactbox {
	display: grid;
	background-color: #D3EFE5;
	padding: 30px; 
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	margin-top: 20px;
}
.contactinfo {
	display: grid;
  	grid-template-columns: 1fr 2fr;
}
.contactinfo label{
	display: inline;
}
fieldset {
	width: 100%;
	padding: 20px 0 20px 0;
}
fieldset label {
    font-weight: normal;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
legend {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
	display: block;
}
input {
    padding-bottom: 10px;
}
textarea {
	width: 100%;
	height: 150px;
}
select, button{
	font-size: 0.8rem;
	font-family: 'Open Sans', sans-serif;
}
button:hover{
	color: #FFFFFF;
}
/*--------------------------------------media query---------------------------------------------------*/
/*----------------------------------------------------1200px------------------------------------*/
@media screen and (max-width: 1200px) {
	.home_1 {
  	display: grid;
  	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.home_article{
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	background-color: #D3EFE5;
	padding: 15px;
}
/*-----------------Process-------------------*/
.process_2{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, 1fr);
	margin-top: 30px;
	grid-row-gap: 30px;
}
.inst_box{
	display: grid;
	grid-template-columns: 1fr;
}
}
/*----------------------------------------------------700px------------------------------------*/
@media screen and (max-width: 700px) {
/*-----------------Home----------------------*/
.home_1 {
  	display: grid;
  	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}
.home_article{
	padding: 15px;
}
/*-----------------About---------------------*/
.about {
    display: grid;
    grid-template-columns: 1fr;
}
/*-----------------Process-------------------*/
.process_2{
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 30px;
}
/*-----------------Instagram-----------------*/
.inst_1{
	display: grid;
	grid-template-columns: 1fr;
	padding: 30px;
}
/*-----------------Contact-------------------*/
.contactbox {
	display: grid;
	grid-template-columns: 1fr;
}
}
/*----------------------------------------------------400px---------------------------------------------------*/
@media screen and (max-width: 400px) {
/*-----------------Home----------------------*/
	.home_1 {
  	display: grid;
  	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
}
.home_article{
	padding: 15px;
}
/*-----------------About---------------------*/
.about_1 {
    display: grid;
    grid-template-columns: 1fr;
}

.about_section {
	background-color: #D3EFE5;
	line-height: 20px;
	padding: 30px;
}
/*-----------------Multimedia----------------*/
.mm_gal{
	padding: 0 30px 30px 30px;
	}
/*-----------------Process-------------------*/
.process_2{
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 10px;
}
/*-----------------Instagram-----------------*/
	.inst_table{
		padding-top: 20px;
	}
	.inst_box{
	display: grid;
	grid-template-columns: 1fr;
}
/*-----------------Contact-------------------*/
.contactbox {
	display: grid;
	grid-template-columns: 1fr;
}
}
@media screen and (max-width: 200px) {
	.mm_gal{
	padding: 0 30px 30px 30px;
	}
}
	
	
	
	